<div style="display: flex;flex-flow: row wrap;flex-grow: 1;width: 100%">
  <div class="player_1" style="flex: 1;text-align: center">
    <div>
    Player 1: <%= @player_1_name %>
    </div>
    <div>
      HP: <%= game.player_1.hp %>
    </div>
    <% if game.player_turn == 1 %>
      <div>
        <form action="/player-1-attack" method="post">
          <input type="submit" value="attack">
        </form>
      </div>
    <% end %>
  </div>
  <div class="player_2" style="flex: 1;text-align: center">
    <div>
      Player 2: <%= @player_2_name %>
    </div>
    <div>
      HP: <%= @player_2_hp %>
    </div>
    <% if game.player_turn == 2 %>
      <div>
        <form action="/player-2-attack" method="post">
          <input type="submit" value="attack">
        </form>
      </div>
    <% end %>
  </div>
</div>
